# --- Cowrie ---
COWRIE_SSH_PORT=2222
COWRIE_TELNET_PORT=2223

# --- Elasticsearch honeypot ---
ELASTICPOT_PORT=9200

# --- SMTP honeypot ---
MAILONEY_SMTP_PORT=25

# --- Web honeypot ---
WEBTRAP_HTTP_PORT=8088
WEBTRAP_HTTPS_PORT=8443
